body {
    background-color: #D1D0CE;
    
}

.Men {
    width: 10%;
    height: 250px;
    float: left;
}

.Women {
    margin-left: 10%;
    height:250px;
}

section {
    width: 80%;
    height:200px;
    margin-left: 8px;
    padding: 8px;
}


h2 {
    font-family:"courier new,"courier,mono space;
    font-size: 32px;
    color:;
}

p1 {
    font-size: 40px;
}

p2 {
    font-size: 30px;
}

h3 {
    font-size: 20px;
}
}

